[alias]
    br = branch -vv
    co = checkout
    cob = checkout -b
    delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
    df = diff
    dft = difftool
    dfn = diff --name-only
    ireb = rebase -i
    bl = log --graph --pretty=format:'%Cred%h%Creset %C(auto)%d - %s %Cgreen(%cr) %C(cyan)<%an>%Creset [%C(yellow)%cd%Creset]' --abbrev-commit --date=iso-local
    l = !git bl -20
    lm = !UN=$(git config user.name)&& git bl --author="\"$UN\""
    lr = !git bl master..HEAD
    ll = !git bl --all
    oops = reset --soft HEAD^
    st = status -bs
    stf = status
    recommit = commit --amend
    fp = fetch -pP
    s = stash
    sl = !git s list
    sp = !git s pop
    sa = !git s apply

[core]
    editor = vim
    quotepath = false
[user]
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
