[alias]
    br = branch -vv
    co = checkout
    cob = checkout -b
    delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
    df = diff
    dft = difftool
    dfn = diff --name-only
    ireb = rebase -i
    l = log --graph --pretty=format:'%Cred%h%Creset %C(auto)%d - %s %Cgreen(%cr) %C(cyan)<%an>%Creset [%C(yellow)%cd%Creset]' --abbrev-commit --date=iso-local -20
    lm = !UN=$(git config user.name)&& git l --author="\"$UN\""
    ll = !git l --all
    oops = reset --soft HEAD^
    st = status -bs
    stf = status
    recommit = commit --amend

[core]
    editor = vim
    quotepath = false
[user]
[diff]
	tool = vimdiff
